{% extends 'usuarios/base.html' %}

{% block scripts %}
    <script>
        function limparTabela() {
            const tabela = document.querySelector('.table');
            const linhas = tabela.getElementsByTagName('tr');
            
            // Começando do índice 1 para excluir a linha do cabeçalho
            for (let i = 1; i < linhas.length; i++) {
                tabela.deleteRow(i);
            }
        }
    </script>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h1>Usuários Cadastrados:</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
